*:focus {
  border: 1px solid #000;
}

.App {
  text-align: center;
  font-size: 1.4rem;
}

.appFont {
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  min-height: 80vh;
}



.footer {
  color: #fff;
  background-color: hsl(216, 98%, 52%);
  min-height: 20vh;
  width: 100%;
  flex-direction: column;
}


.footerTextLink {
  color: #fff;
  text-decoration: none;
}

.footerTextLink:hover {
  color: hsla(0, 0%, 100%, 0.644);
  text-decoration: underline;
}

.icon:hover {
  color: hsla(0, 0%, 0%, 0.685);
}





